body {
    background: #eee;
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;
}

h1 {
    font-size: 4rem;
}

#strings-chart {
    position: relative;
    height: 50vh;
    width: 100%;
}
