body {
    background: #eee;
    color: #111;
    font-family: Helvetica, Arial, sans-serif;
    margin: 0 auto;
    padding: 1rem;
    max-width: 960px;
}

h1 {
    font-size: 4rem;
}

#strings-chart {
    position: relative;
    height: 50vh;
    width: 100%;
}

.columns {
    display: flex;
    margin: 3rem -1rem 0 0;
}

.columns__column {
    flex: 1;
    margin-right: 1rem;
}
