h1 {
  font-size: 9vh;
  margin: 3vh;
}

#main {
  margin: 0 auto;
  width: 95%;
  font-size: 0.9em;
}

#meta {
  position: absolute;
  right: 40px;
  top: 20px;
  font-size: 0.8em;
}

table.dataTable thead .sorting::before,
table.dataTable thead .sorting::after,
table.dataTable thead .sorting_asc::before,
table.dataTable thead .sorting_asc::after,
table.dataTable thead .sorting_desc::before,
table.dataTable thead .sorting_desc::after {
  bottom: 0.1em;
}

#example > tbody > tr > td:nth-child(5) {
  font-size: 0.9em;
  overflow: hidden;
}
