:root {
  --main-background: white;
  --main-text-color: #343434;
  --main-font-family: 'Fira Sans';

  --data-ftl-color: #3bddaa;
  --data-dtd-color: #ed0083;
  --data-properties-color: #45a1ff;

}

h1 {
  --font-color: #424242;
}